In [1]:
# Set environment variables for proxy
import os

os.environ['http_proxy'] = 'http://127.0.0.1:7890'
os.environ['https_proxy'] = 'http://127.0.0.1:7890'
os.environ['all_proxy'] = 'socks5://127.0.0.1:7890'

In [2]:
#Set environment variables for my notebook
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = r"C:\Users\HP\Desktop\BestTop项目\PTA项目\IMDB Analysis\august-clover-452613-h1-3236960c7686.json"

In [3]:
from google.cloud import bigquery

service_account_path = r"C:\Users\HP\Desktop\BestTop项目\PTA项目\IMDB Analysis\august-clover-452613-h1-3236960c7686.json"

# Create a BigQuery client
client = bigquery.Client.from_service_account_json(service_account_path)

In [4]:
%load_ext bigquery_magics

In [5]:
%%bigquery df
SELECT * 
FROM `bigquery-public-data.imdb.title_basics`
LIMIT 100

Query is running:   0%|          |

Downloading:   0%|          |

In [11]:
df.head()

,tconst,title_type,primary_title,original_title,is_adult,start_year,end_year,runtime_minutes,genres
0,tt10967190,tvEpisode,Episode #1.122,Episode #1.122,0,<NA>,<NA>,<NA>,None
1,tt17163140,tvEpisode,Episode #1.118,Episode #1.118,0,<NA>,<NA>,<NA>,None
2,tt6826542,tvEpisode,Episode #1.1389,Episode #1.1389,0,<NA>,<NA>,<NA>,None
3,tt6829852,tvEpisode,Episode #1.1504,Episode #1.1504,0,<NA>,<NA>,<NA>,None
4,tt6867904,tvEpisode,Episode #1.598,Episode #1.598,0,<NA>,<NA>,<NA>,None

In [13]:
print(os.getcwd())

C:\Users\HP\data-analysis\data-analysis